<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright the original author or authors.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="140001"
    android:versionName="14.0.1">

    <permission android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" tools:node="remove" />
    <uses-permission android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" tools:node="remove" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.TURN_SCREEN_ON" />
<!--    <uses-permission android:name="android.permission.READ_CALENDAR" />-->
<!--    <uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.software.app_widgets"
        android:required="false" />

    <queries>
        <intent>
            <action
                android:name="android.speech.RecognitionService" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.ASSIST" />
        </intent>
    </queries>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_oeffi_ng_directions_color_48dp"
        android:roundIcon="@mipmap/ic_oeffi_ng_directions_color_48dp"
        android:label="@string/app_name"
        android:localeConfig="@xml/locale_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/My.Theme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <activity
            android:name=".preference.PreferenceActivity"
            android:exported="true"
            android:theme="@style/My.Theme.Preference"
            android:label="@string/global_options_preferences_title">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".network.NetworkPickerActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/network_picker_activity_title" />

        <activity
            android:name=".stations.StationsActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden"
            android:icon="@mipmap/ic_oeffi_ng_stations_color_48dp"
            android:label="@string/stations_icon_label"
            android:launchMode="singleInstancePerTask"
            android:taskAffinity="${applicationId}.stations">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".stations.StationsActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/stations_searchable" />
        </activity>
        <activity-alias
            android:name=".stations.StationsActivity.NEARBY"
            android:targetActivity=".stations.StationsActivity"
            android:exported="true"
            android:label="@string/stations_intentfilter_nearby_title">
            <!-- thrown by google now gesture -->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.ASSIST" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="geo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <!-- disabled after installation, enabled by shortcuts preference -->
        <activity
            android:name=".assistant.AssistantActivity"
            android:enabled="false"
            android:exported="true"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/My.Theme.Translucent"
            android:label="@string/assistant_label_title">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VOICE_COMMAND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VOICE_ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".stations.StationDetailsActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/station_details_activity_title"
            android:taskAffinity="${applicationId}.stations"
            android:showWhenLocked="true" />

        <activity
            android:name=".stations.FavoriteStationsActivity"
            android:label="@string/stations_favorite_stations_title"
            android:taskAffinity="${applicationId}.stations" />

        <provider
            android:name=".stations.FavoriteStationsProvider"
            android:authorities="${applicationId}.stations.favorites"
            android:exported="false" />

        <activity
            android:name=".stations.NearestFavoriteStationsWidgetPermissionActivity"
            android:theme="@style/My.Theme.Translucent" />

        <receiver
            android:name=".stations.NearestFavoriteStationWidgetProvider"
            android:exported="false"
            android:label="@string/nearest_favorite_station_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_UNSUSPENDED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/nearest_favorite_station_widget" />
        </receiver>

        <receiver android:name=".directions.navigation.NavigationAlarmManager$RefreshReceiver" />
        <receiver android:name=".directions.navigation.NavigationNotification$ActionReceiver" />
        <service android:name=".directions.navigation.NavigationAlarmManager$RefreshService"
            android:exported="false" />

<!--        <receiver android:name=".DeviceAdmin$MyDeviceAdminReceiver"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_DEVICE_ADMIN">-->
<!--            <meta-data android:name="android.app.device_admin"-->
<!--                android:resource="@xml/device_admin_policies" />-->
<!--            <intent-filter>-->
<!--                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!-- disabled because of Play Protect issues, see https://developers.google.com/android/play-protect/warning-dev-guidance -->
<!--        <service android:name=".DeviceAdmin$MyAccessibilityService"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"-->
<!--            android:label="@string/app_name">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.accessibilityservice.AccessibilityService" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.accessibilityservice"-->
<!--                android:resource="@xml/accessibility_service_config" />-->
<!--        </service>-->

        <service
            android:name=".stations.NearestFavoriteStationWidgetService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <service
            android:name=".stations.NearestFavoriteStationWidgetListService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- NOTE on launchMode:
            it was singleInstancePerTask,
            but with sharing locations from GMaps it would always open a new task.
            So it was changed to singleInstance.
            But then, when
            - from Directions go to Trip Overview
            - put task to the background
            - get task back to foreground
            - go back from Trip Overview, should go to previous Directions
            - BUT: closes the stack ???
            Next attempt: singleTask
            -->
        <activity
            android:name=".directions.DirectionsActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden"
            android:icon="@mipmap/ic_oeffi_ng_directions_color_48dp"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.directions"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/My.Theme.Splash">
<!--            android:label="@string/directions_icon_label"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".directions.DirectionsActivity.TO"
            android:targetActivity=".directions.DirectionsActivity"
            android:exported="true"
            android:label="@string/directions_intentfilter_to_title">
            <!-- thrown by google calendar for contacts, and qype radar -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="geo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".directions.DirectionsActivity.FROM"
            android:targetActivity=".directions.DirectionsActivity"
            android:exported="true"
            android:label="@string/directions_intentfilter_from_title">
            <!-- thrown by google calendar for contacts, and qype radar -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="geo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".directions.driverops.OperationsActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden"
            android:icon="@mipmap/ic_oeffi_ng_operations_color_48dp"
            android:label="@string/operations_icon_label"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.operations"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/My.Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".directions.TripsOverviewActivity"
            android:configChanges="keyboard|keyboardHidden" />
<!--            android:taskAffinity="${applicationId}.directions" />-->
<!--            android:theme="@style/My.Theme.DarkDefault" />-->

        <activity
            android:name=".directions.TripDetailsActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/trip_details_title"
            android:taskAffinity="${applicationId}.directions"
            android:showOnLockScreen="false"
            android:showWhenLocked="false" />

        <activity
            android:name=".directions.driverops.OperationDetailsActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/trip_details_title"
            android:taskAffinity="${applicationId}.operations"
            android:showOnLockScreen="false"
            android:showWhenLocked="false" />

        <activity
            android:name=".directions.navigation.TripNavigatorActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/navigation_title"
            android:taskAffinity="${applicationId}.navigation"
            android:autoRemoveFromRecents="false"
            android:excludeFromRecents="false"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

        <activity
            android:name=".directions.driverops.OperationNavigatorActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/operation_navigation_title"
            android:taskAffinity="${applicationId}.navigation"
            android:autoRemoveFromRecents="false"
            android:excludeFromRecents="false"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

        <activity
            android:name=".directions.DirectionsShortcutActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity="${applicationId}.directions"
            android:theme="@style/My.Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".directions.AppLinkActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="@string/app_url_host" />
                <data android:pathPrefix="@string/app_url_path_prefix" />
            </intent-filter>
        </activity>

        <provider
            android:name=".directions.QueryHistoryProvider"
            android:authorities="${applicationId}.directions.query_history"
            android:exported="false" />

        <provider
            android:name=".directions.QueryStoredTripsProvider"
            android:authorities="${applicationId}.directions.query_stored_trips"
            android:exported="false" />

        <activity
            android:name=".plans.PlansPickerActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden"
            android:icon="@mipmap/ic_oeffi_ng_plans_color_48dp"
            android:label="@string/plans_icon_label"
            android:launchMode="singleTop"
            android:taskAffinity="${applicationId}.plans">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".plans.PlansPickerActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/plans_searchable" />
        </activity>

        <activity
            android:name=".plans.PlanActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${applicationId}.plans"
            android:theme="@style/My.Theme.Fullscreen"
            android:showWhenLocked="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".plans.PlanActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/plan_searchable" />
        </activity>

        <provider
            android:name=".plans.PlanContentProvider"
            android:authorities="${applicationId}.plans"
            android:exported="false" />

        <activity
            android:name=".LogViewerActivity"
            android:launchMode="singleInstance">
        </activity>
    </application>
</manifest>
